/* BASIC STYLES HERE */
body {
  background-size: cover;
  background-position: center;
  font-family: 'Noto Sans', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

.quote-author {
  visibility: hidden;
  transition: ease-in-out .50s;
}

.quote-content:hover+.quote-author {
  visibility: visible;
  transition: ease-in-out .50s;
  background-color: #12121280;
  backdrop-filter: blur(15px);
  border-radius: 5px;
}

.bg-filter {
  background-color: #12121280;
  backdrop-filter: blur(15px);
  border-radius: 10px;
}

.clock-font {
  font-size: 36pt;
}

.weather-box {
  border: 1px solid whitesmoke;
  padding: 3px;
  border-radius: 5px;
}

.hidden {
  visibility: hidden;
}

@media (max-width: 600px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .clock-font {
    font-size: 20pt;
  }

  .weather-box {
    padding: 1px;
  }
}